.task-list {
  width: 300px;
  margin: 50px auto;
  background: aliceblue;
  padding: 10px;
  margin-top: 8px;
}

.task {
  font-size: 20px;
  color: #b32424;
}


.task.done {
  opacity: 0.7;
}

.todo-app {
  width: 300px;
  margin: 50px auto;
  background: aliceblue;
  padding: 10px;
}

.todo-app > input {
  display: block;
  margin: auto;
}
